# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.history/src/features/landing/SubMenuContainer_20230505153922.tsx
.history/src/features/landing/SubMenuContainer_20230505155106.tsx
.history/src/features/landing/SubMenuContainer_20230505155144.tsx
.history/src/features/landing/SubMenuContainer_20230505155314.tsx
.history/src/features/landing/SubMenuContainer_20230505155502.tsx
.history/src/features/landing/SubMenuContainer_20230505155544.tsx
.history/src/features/landing/SubMenuContainer_20230505180407.tsx
.history/src/features/landing/SubMenuContainerInner_20230501174222.tsx
.history/src/features/landing/SubMenuContainerInner_20230505155740.tsx
.history/src/features/landing/SubMenuContainerInner_20230505155832.tsx
.history/src/features/landing/SubMenuContainerInner_20230505160044.tsx
.history/src/features/landing/SubMenuContainerInner_20230505160110.tsx
.history/src/features/landing/SubMenuContainerInner_20230505160117.tsx
.history/src/features/landing/SubMenuContainerInner_20230505160707.tsx
.history/src/features/landing/SubMenuContainerInner_20230505160720.tsx
.history/src/features/landing/SubMenuContainerInner_20230505161107.tsx
.history/src/features/landing/SubMenuContainerInner_20230505161144.tsx
.history/src/features/landing/SubMenuContainerInner_20230505161149.tsx
.history/src/features/landing/SubMenuContainerInner_20230505161154.tsx
.history/src/features/landing/SubMenuContainerInner_20230505161256.tsx
.history/src/features/landing/SubMenuContainerInner_20230505161432.tsx
.history/src/features/landing/SubMenuContainerInner_20230505161735.tsx
.history/src/features/landing/SubMenuContainerInner_20230505162337.tsx
.history/src/features/landing/SubMenuContent1_20230505142647.tsx
.history/src/features/landing/SubMenuContent1_20230505155811.tsx
.history/src/features/landing/SubMenuContent1_20230505160126.tsx
.history/src/features/landing/SubMenuContent1_20230505160136.tsx
.history/src/features/landing/SubMenuContent1_20230505160306.tsx
.history/src/features/landing/SubMenuContent1_20230505160314.tsx
.history/src/features/landing/SubMenuContent1_20230505160328.tsx
.history/src/features/landing/SubMenuContent1_20230505160353.tsx
.history/src/features/landing/SubMenuContent1_20230505160400.tsx
.history/src/features/landing/SubMenuContent1_20230505160537.tsx
.history/src/features/landing/SubMenuContent1_20230505160611.tsx
.history/src/features/landing/SubMenuContent1_20230505162503.tsx
.history/src/features/landing/SubMenuContent1_20230505162507.tsx
.history/src/features/landing/SubMenuContent1_20230505162642.tsx
.history/src/features/landing/SubMenuContent1_20230505162729.tsx
.history/src/features/landing/SubMenuContent1_20230505162750.tsx
.history/src/features/landing/SubMenuContent1_20230505162814.tsx
.history/src/features/landing/SubMenuContent1_20230505170809.tsx
.history/src/features/landing/SubMenuContent1_20230505170828.tsx
.history/src/features/landing/SubMenuContent1_20230505170931.tsx
.history/src/features/landing/SubMenuContent1_20230505170939.tsx
.history/src/features/landing/SubMenuContent1_20230505171005.tsx
.history/src/features/landing/SubMenuContent1_20230505171032.tsx
.history/src/features/landing/SubMenuContent1_20230505171053.tsx
.history/src/features/landing/SubMenuContent1_20230505171114.tsx
.history/src/features/landing/SubMenuContent1_20230505171128.tsx
.history/src/features/landing/SubMenuContent1_20230505171230.tsx
.history/src/features/landing/SubMenuContent1_20230505171231.tsx
.history/src/features/landing/SubMenuContent1_20230505171312.tsx
.history/src/features/landing/SubMenuContent1_20230505171430.tsx
.history/src/features/landing/SubMenuContent1_20230505171431.tsx
.history/src/features/landing/SubMenuContent1_20230505172021.tsx
.history/src/features/landing/SubMenuContent1_20230505172153.tsx
.history/src/features/landing/SubMenuContent1_20230505172415.tsx
.history/src/features/landing/SubMenuContent1_20230505172619.tsx
.history/src/features/landing/SubMenuContent1_20230505173141.tsx
.history/src/features/landing/SubMenuContent1_20230505173558.tsx
.history/src/features/landing/SubMenuContent1_20230505173607.tsx
.history/src/features/landing/SubMenuContent1_20230505173745.tsx
.history/src/features/landing/SubMenuContent1_20230505173810.tsx
.history/src/features/landing/SubMenuContent1_20230505173835.tsx
.history/src/features/landing/SubMenuContent1_20230505173923.tsx
.history/src/features/landing/SubMenuContent1_20230505173927.tsx
.history/src/features/landing/SubMenuContent1_20230505174000.tsx
.history/src/features/landing/SubMenuContent1_20230505174325.tsx
.history/src/features/landing/SubMenuContent1_20230505174849.tsx
.history/src/features/landing/SubMenuContent1_20230505174934.tsx
.history/src/features/landing/SubMenuContent1_20230505174952.tsx
.history/src/features/landing/SubMenuContent1_20230505174955.tsx
.history/src/features/landing/SubMenuContent1_20230505181210.tsx
.history/src/features/landing/SubMenuContent1_20230505182803.tsx
.history/src/features/landing/SubMenuContent1_20230505183417.tsx
.history/src/features/landing/SubMenuContent1_20230505183503.tsx
.history/src/features/landing/SubMenuContent1_20230505183516.tsx
.history/src/features/landing/SubMenuContent1_20230505183534.tsx
.history/src/features/landing/SubMenuContent1_20230505183652.tsx
.history/src/features/landing/SubMenuContent1_20230505183741.tsx
.history/src/features/landing/SubMenuContent1_20230505183807.tsx
.history/src/features/landing/SubMenuContent1_20230505183906.tsx
.history/src/features/landing/SubMenuContent1_20230505184035.tsx
.history/src/features/landing/SubMenuContent1_20230505184043.tsx
.history/src/features/landing/SubMenuContent1_20230505184118.tsx
.history/src/features/landing/SubMenuContent2_20230504161904.tsx
.history/src/features/landing/SubMenuContent2_20230505174522.tsx
.history/src/features/landing/SubMenuContent2_20230505174549.tsx
.history/src/features/landing/SubMenuContent2_20230505174625.tsx
.history/src/features/landing/SubMenuContent2_20230505174950.tsx
.history/src/features/landing/SubMenuContent2_20230505174959.tsx
.history/src/features/landing/SubMenuContent2_20230505175128.tsx
.history/src/features/landing/SubMenuContent2_20230505181003.tsx
.history/src/features/landing/SubMenuContent2_20230505181438.tsx
.history/src/features/landing/SubMenuContent2_20230505182809.tsx
.history/src/features/landing/SubMenuContent2_20230505183157.tsx
.history/src/features/landing/SubMenuContent2_20230505183257.tsx
.history/src/features/landing/SubMenuContent3_20230501180233.tsx
.history/src/features/landing/SubMenuContent3_20230505175013.tsx
.history/src/features/landing/SubMenuContent3_20230505175114.tsx
.history/src/features/landing/SubMenuContent3_20230505175117.tsx
.history/src/features/landing/SubMenuContent3_20230505182105.tsx
.history/src/features/landing/SubMenuContent3_20230505182820.tsx
.history/src/features/landing/SubMenuContent3_20230505182825.tsx
.history/src/features/landing/SubMenuContent3_20230505183127.tsx
.history/src/features/landing/SubMenuContent3_20230505183151.tsx
.history/src/features/landing/SubMenuContent4_20230501180353.tsx
.history/src/features/landing/SubMenuContent4_20230505175049.tsx
.history/src/features/landing/SubMenuContent4_20230505175146.tsx
.history/src/features/landing/SubMenuContent4_20230505182136.tsx
.history/src/features/landing/SubMenuContent4_20230505182916.tsx
.history/src/features/landing/SubMenuContent4_20230505182919.tsx
.history/src/features/landing/SubMenuContent4_20230505183107.tsx
.history/src/features/landing/SubMenuContent4_20230505183134.tsx
.history/src/features/landing/SubMenuContent5_20230501180243.tsx
.history/src/features/landing/SubMenuContent5_20230505175058.tsx
.history/src/features/landing/SubMenuContent5_20230505175104.tsx
.history/src/features/landing/SubMenuContent5_20230505175105.tsx
.history/src/features/landing/SubMenuContent5_20230505175155.tsx
.history/src/features/landing/SubMenuContent5_20230505182209.tsx
.history/src/features/landing/SubMenuContent5_20230505182903.tsx
.history/src/features/landing/SubMenuContent5_20230505182924.tsx
.history/src/features/landing/SubMenuContent5_20230505182944.tsx
.history/src/features/landing/SubMenuContent5_20230505183042.tsx
.history/src/features/landing/SubMenuContent6_20230501180302.tsx
.history/src/features/landing/SubMenuContent6_20230505175219.tsx
.history/src/features/landing/SubMenuContent6_20230505175220.tsx
.history/src/features/landing/SubMenuContent6_20230505175526.tsx
.history/src/features/landing/SubMenuContent6_20230505175605.tsx
.history/src/features/landing/SubMenuContent6_20230505180208.tsx
.history/src/features/landing/SubMenuContent6_20230505180239.tsx
.history/src/features/landing/SubMenuContent6_20230505180255.tsx
.history/src/features/landing/SubMenuContent6_20230505180444.tsx
.history/src/features/landing/SubMenuContent6_20230505180457.tsx
.history/src/features/landing/SubMenuContent6_20230505180500.tsx
.history/src/features/landing/SubMenuContent6_20230505180511.tsx
.history/src/features/landing/SubMenuContent6_20230505180516.tsx
.history/src/features/landing/SubMenuContent6_20230505180519.tsx
.history/src/features/landing/SubMenuContent6_20230505180536.tsx
.history/src/features/landing/SubMenuContent6_20230505180542.tsx
.history/src/features/landing/SubMenuContent6_20230505180547.tsx
.history/src/features/landing/SubMenuContent6_20230505180553.tsx
.history/src/features/landing/SubMenuContent6_20230505180606.tsx
.history/src/features/landing/SubMenuContent6_20230505180645.tsx
.history/src/features/landing/SubMenuContent6_20230505180708.tsx
.history/src/features/landing/SubMenuContent6_20230505180747.tsx
.history/src/features/landing/SubMenuContent6_20230505180817.tsx
.history/src/features/landing/SubMenuContent6_20230505180832.tsx
.history/src/features/landing/SubMenuContent6_20230505180851.tsx
.history/src/features/landing/SubMenuContent6_20230505181217.tsx
.history/src/features/landing/SubMenuContent6_20230505181218.tsx
.history/src/features/landing/SubMenuContent6_20230505181312.tsx
.history/src/features/landing/SubMenuContent6_20230505181334.tsx
.history/src/features/landing/SubMenuContent6_20230505181341.tsx
.history/src/features/landing/SubMenuContent6_20230505181408.tsx
.history/src/features/landing/SubMenuContent6_20230505181419.tsx
.history/src/features/landing/SubMenuContent6_20230505181504.tsx
.history/src/features/landing/SubMenuContent6_20230505181512.tsx
.history/src/features/landing/SubMenuContent6_20230505181623.tsx
.history/src/features/landing/SubMenuContent6_20230505181722.tsx
.history/src/features/landing/SubMenuContent6_20230505181732.tsx
.history/src/features/landing/SubMenuContent6_20230505181923.tsx
.history/src/features/landing/SubMenuContent6_20230505181934.tsx
.history/src/features/landing/SubMenuContent6_20230505181938.tsx
.history/src/features/landing/SubMenuContent6_20230505182011.tsx
.history/src/features/landing/SubMenuContent6_20230505182019.tsx
.history/src/features/landing/SubMenuContent6_20230505182935.tsx
.history/src/features/landing/SubMenuGroup_20230505161759.tsx
.history/src/features/landing/SubMenuGroup_20230505162137.tsx
.history/src/features/landing/SubMenuGroup_20230505162206.tsx
.history/src/features/landing/SubMenuGroup_20230505162324.tsx
.history/src/features/landing/SubMenuGroup_20230505162531.tsx
.history/src/features/landing/SubMenuGroup_20230505162616.tsx
.history/src/features/landing/SubMenuGroup_20230505162833.tsx
.history/src/features/landing/SubMenuGroup_20230505162853.tsx
.history/src/features/landing/SubMenuGroup_20230505162940.tsx
.history/src/features/landing/SubMenuGroup_20230505162948.tsx
.history/src/features/landing/SubMenuGroup_20230505162956.tsx
.history/src/features/landing/SubMenuGroup_20230505163006.tsx
.history/src/features/landing/SubMenuGroup_20230505163135.tsx
.history/src/features/landing/SubMenuGroup_20230505163144.tsx
.history/src/features/landing/SubMenuGroup_20230505172728.tsx
.history/src/features/landing/SubMenuGroup_20230505172827.tsx
.history/src/features/landing/SubMenuGroup_20230505172842.tsx
.history/src/features/landing/SubMenuGroup_20230505172906.tsx
.history/src/features/landing/SubMenuGroup_20230505173342.tsx
.history/src/features/landing/SubMenuGroup_20230505173346.tsx
.history/src/features/landing/SubMenuGroup_20230505173434.tsx
.history/src/features/landing/SubMenuGroup_20230505173438.tsx
.history/src/features/landing/SubMenuGroup_20230505174334.tsx
.history/src/features/landing/SubMenuGroup_20230505174814.tsx
.history/src/features/landing/SubMenuGroup_20230505174913.tsx
.history/src/features/landing/SubMenuGroup_20230505181707.tsx
.history/src/features/landing/SubMenuGroup_20230505182720.tsx
.history/src/features/landing/SubMenuGroup_20230505182743.tsx
.history/.gitignore_20230306010930
.history/.gitignore_20230505184215
.history/.gitignore_20230505184220
.history/.gitignore_20230505184226
.history/src/features/configs/site_20230505134654.ts
.history/src/features/configs/site_20230505185928.ts
.history/src/features/configs/site_20230505185939.ts
.history/src/features/configs/site_20230505194918.ts
.history/src/features/configs/site_20230506150934.ts
.history/src/features/configs/site_20230506151008.ts
.history/src/features/configs/site_20230506151019.ts
.history/src/features/configs/site_20230506151029.ts
.history/src/features/configs/site_20230506151036.ts
.history/src/features/configs/site_20230506151117.ts
.history/src/features/configs/site_20230506151129.ts
.history/src/features/configs/site_20230506151134.ts
.history/src/features/landing/SubMenuContent1_20230505184622.tsx
.history/src/features/landing/SubMenuContent1_20230505184642.tsx
.history/src/features/landing/SubMenuContent1_20230505184648.tsx
.history/src/features/landing/SubMenuContent1_20230505184652.tsx
.history/src/features/landing/SubMenuContent1_20230505184659.tsx
.history/src/features/landing/SubMenuContent1_20230505184850.tsx
.history/src/features/landing/SubMenuContent1_20230505185048.tsx
.history/src/features/landing/SubMenuContent1_20230505185057.tsx
.history/src/features/landing/SubMenuContent1_20230505185439.tsx
.history/src/features/landing/SubMenuContent1_20230505185515.tsx
.history/src/features/landing/SubMenuContent1_20230505185538.tsx
.history/src/features/landing/SubMenuContent1_20230505185543.tsx
.history/src/features/landing/SubMenuContent1_20230505185638.tsx
.history/src/features/landing/SubMenuContent1_20230505185854.tsx
.history/src/features/landing/SubMenuContent1_20230505185910.tsx
.history/src/features/landing/SubMenuContent1_20230505185956.tsx
.history/src/features/landing/SubMenuContent1_20230505190527.tsx
.history/src/features/landing/SubMenuContent1_20230505190715.tsx
.history/src/features/landing/SubMenuContent1_20230505190806.tsx
.history/src/features/landing/SubMenuContent1_20230505190809.tsx
.history/src/features/landing/SubMenuContent1_20230505190853.tsx
.history/src/features/landing/SubMenuContent1_20230505190956.tsx
.history/src/features/landing/SubMenuContent1_20230505191237.tsx
.history/src/features/landing/SubMenuContent1_20230505191742.tsx
.history/src/features/landing/SubMenuContent1_20230505191809.tsx
.history/src/features/landing/SubMenuContent1_20230505191848.tsx
.history/src/features/landing/SubMenuContent1_20230505191900.tsx
.history/src/features/landing/SubMenuContent1_20230505191958.tsx
.history/src/features/landing/SubMenuContent1_20230505192103.tsx
.history/src/features/landing/SubMenuContent1_20230505192212.tsx
.history/src/features/landing/SubMenuContent1_20230505192348.tsx
.history/src/features/landing/SubMenuContent1_20230505192515.tsx
.history/src/features/landing/SubMenuContent1_20230505192615.tsx
.history/src/features/landing/SubMenuContent1_20230505192710.tsx
.history/src/features/landing/SubMenuContent1_20230505192720.tsx
.history/src/features/landing/SubMenuContent1_20230505192733.tsx
.history/src/features/landing/SubMenuContent1_20230505192737.tsx
.history/src/features/landing/SubMenuContent1_20230505192857.tsx
.history/src/features/landing/SubMenuContent1_20230505194249.tsx
.history/src/features/landing/SubMenuContent1_20230505194336.tsx
.history/src/features/landing/SubMenuContent1_20230505194357.tsx
.history/src/features/landing/SubMenuContent1_20230505194448.tsx
.history/src/features/landing/SubMenuContent1_20230505194454.tsx
.history/src/features/landing/SubMenuContent1_20230505194507.tsx
.history/src/features/landing/SubMenuContent1_20230505194515.tsx
.history/src/features/landing/SubMenuContent1_20230505194523.tsx
.history/src/features/landing/SubMenuContent1_20230505194532.tsx
.history/src/features/landing/SubMenuContent1_20230505194551.tsx
.history/src/features/landing/SubMenuContent1_20230505194644.tsx
.history/src/features/landing/SubMenuContent1_20230505194656.tsx
.history/src/features/landing/SubMenuContent1_20230505194706.tsx
.history/src/features/landing/SubMenuContent1_20230505194730.tsx
.history/src/features/landing/SubMenuContent1_20230505194735.tsx
.history/src/features/landing/SubMenuContent1_20230505194739.tsx
.history/src/features/landing/SubMenuContent1_20230505194748.tsx
.history/src/features/landing/SubMenuContent1_20230505194755.tsx
.history/src/features/landing/SubMenuContent1_20230505194806.tsx
.history/src/features/landing/SubMenuContent1_20230505194809.tsx
.history/src/features/landing/SubMenuContent1_20230505194812.tsx
.history/src/features/landing/SubMenuContent1_20230505194820.tsx
.history/src/features/landing/SubMenuContent1_20230505194950.tsx
.history/src/features/landing/SubMenuContent1_20230505194956.tsx
.history/src/features/landing/SubMenuContent1_20230505195029.tsx
.history/src/features/landing/SubMenuContent1_20230505195035.tsx
.history/src/features/landing/SubMenuContent1_20230505195140.tsx
.history/src/features/landing/SubMenuContent1_20230505195242.tsx
.history/src/features/landing/SubMenuContent1_20230505195317.tsx
.history/src/features/landing/SubMenuContent1_20230505195342.tsx
.history/src/features/landing/SubMenuContent1_20230505195412.tsx
.history/src/features/landing/SubMenuContent1_20230505195442.tsx
.history/src/features/landing/SubMenuContent1_20230505195450.tsx
.history/src/features/landing/SubMenuContent1_20230505195619.tsx
.history/src/features/landing/SubMenuContent1_20230505195641.tsx
.history/src/features/landing/SubMenuContent1_20230505195646.tsx
.history/src/features/landing/SubMenuContent1_20230506145547.tsx
.history/src/features/landing/SubMenuContent1_20230506145612.tsx
.history/src/features/landing/SubMenuContent1_20230506145627.tsx
.history/src/features/landing/SubMenuContent1_20230506145640.tsx
.history/src/features/landing/SubMenuContent1_20230506145719.tsx
.history/src/features/landing/SubMenuContent1_20230506145740.tsx
.history/src/features/landing/SubMenuContent1_20230506145832.tsx
.history/src/features/landing/SubMenuContent1_20230506150154.tsx
.history/src/features/landing/SubMenuContent1_20230506150200.tsx
.history/src/features/landing/SubMenuContent1_20230506150458.tsx
.history/src/features/landing/SubMenuContent1_20230506150512.tsx
.history/src/features/landing/SubMenuContent1_20230506150615.tsx
.history/src/features/landing/SubMenuContent1_20230506150636.tsx
.history/src/features/landing/SubMenuContent1_20230506150718.tsx
.history/src/features/landing/SubMenuContent1_20230506150813.tsx
.history/src/features/landing/SubMenuContent1_20230506151227.tsx
.history/src/features/landing/SubMenuContent1_20230506151334.tsx
.history/src/features/landing/SubMenuContent1_20230506151341.tsx
.history/src/features/landing/SubMenuContent1_20230506151345.tsx
.history/src/features/landing/SubMenuContent1_20230506151355.tsx
.history/src/features/landing/SubMenuContent1_20230506151453.tsx
.history/src/features/landing/SubMenuContent1_20230506151504.tsx
.history/src/features/landing/SubMenuContent1_20230506151510.tsx
.history/src/features/landing/SubMenuContent1_20230506151554.tsx
.history/src/features/landing/SubMenuContent1_20230506151606.tsx
.history/src/features/landing/SubMenuContent1_20230506151621.tsx
.history/src/features/landing/SubMenuContent1_20230506151642.tsx
.history/src/features/landing/SubMenuContent1_20230506151703.tsx
.history/src/features/landing/SubMenuContent1_20230506151709.tsx
.history/src/features/landing/SubMenuContent1_20230506151715.tsx
.history/src/features/landing/SubMenuContent1_20230506151723.tsx
.history/src/features/landing/SubMenuContent1_20230506151742.tsx
.history/src/features/landing/SubMenuContent1_20230506151750.tsx
.history/src/features/landing/SubMenuContent1_20230506151752.tsx
.history/src/features/landing/SubMenuContent1_20230506151757.tsx
.history/src/features/landing/SubMenuContent1_20230506151805.tsx
.history/src/features/landing/SubMenuContent1_20230506151813.tsx
.history/src/features/landing/SubMenuContent1_20230506151826.tsx
.history/src/features/landing/SubMenuContent1_20230506151833.tsx
.history/src/features/landing/SubMenuContent1_20230506152203.tsx
.history/src/features/landing/SubMenuContent1_20230506152313.tsx
.history/src/features/landing/SubMenuContent1_20230506153230.tsx
.history/src/features/landing/SubMenuContent1_20230506153413.tsx
.history/src/features/landing/SubMenuContent1_20230506153519.tsx
.history/src/features/landing/SubMenuContent1_20230506154852.tsx
.history/src/features/landing/SubMenuContent1_20230506154935.tsx
.history/src/features/landing/SubMenuContent1_20230506155021.tsx
.history/src/features/landing/SubMenuContent1_20230506155318.tsx
.history/src/features/landing/SubMenuContent1_20230506155321.tsx
.history/src/features/landing/SubMenuContent6_20230506145128.tsx
.history/src/features/landing/SubMenuContent6_20230506145310.tsx
.history/src/features/landing/SubMenuContent6_20230506145329.tsx
.history/src/features/landing/SubMenuContent6_20230506145400.tsx
.history/src/features/landing/SubMenuContent6_20230506145402.tsx
.history/src/features/landing/SubMenuContent6_20230506145411.tsx
.history/src/features/landing/SubMenuContent6_20230506145412.tsx
.history/src/features/landing/SubMenuContent6_20230506145429.tsx
.history/src/features/landing/SubMenuContent6_20230506145455.tsx
.history/src/features/landing/SubMenuContent6_20230506145502.tsx
.history/.gitignore_20230506155746
